In [1]:
#https://www.letthedataconfess.com/blog/2020/01/08/feature-selection-using-genetic-algorithm-2/
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/H A R I H A R A N/Desktop/sem 8/Heart Disease/heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
!pip install sklearn-genetic

Collecting sklearn-genetic
  Downloading sklearn_genetic-0.5.1-py3-none-any.whl (11 kB)
Requirement already satisfied: deap>=1.0.2 in c:\users\h a r i h a r a n\anaconda3\lib\site-packages (from sklearn-genetic) (1.3.3)
Requirement already satisfied: numpy in c:\users\h a r i h a r a n\anaconda3\lib\site-packages (from sklearn-genetic) (1.21.5)
Collecting multiprocess
  Downloading multiprocess-0.70.14-py39-none-any.whl (132 kB)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\h a r i h a r a n\anaconda3\lib\site-packages (from sklearn-genetic) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\h a r i h a r a n\anaconda3\lib\site-packages (from scikit-learn>=0.23->sklearn-genetic) (1.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\h a r i h a r a n\anaconda3\lib\site-packages (from scikit-learn>=0.23->sklearn-genetic) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\h a r i h a r a n\anaconda3\lib\site-packages (from scikit-learn>=0.23->sklearn-genetic) (2.2.0)
Collecting dill>=0.3.6
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
Installing collected packages: dill, multiprocess, sklearn-genetic
Successfully installed dill-0.3.6 multiprocess-0.70.14 sklearn-genetic-0.5.1

In [2]:
from genetic_selection import GeneticSelectionCV
from sklearn.ensemble import RandomForestClassifier

In [3]:
from sklearn.model_selection import train_test_split
x = df.drop('target',axis = 1)
y = df['target']
x_train, x_test, y_train, y_test  = train_test_split(x, y, random_state = 135, test_size = 0.2)

In [9]:
clf = RandomForestClassifier(n_estimators = 100, n_jobs=-1)
selector = GeneticSelectionCV(clf,cv=10,
                                  verbose=2,
                                  scoring="r2", 
                                  max_features=10,
                                  n_population=50,
                                  crossover_proba=0.5,
                                  mutation_proba=0.2,
                                  n_generations=40,
                                  crossover_independent_proba=0.5,
                                  mutation_independent_proba=0.05,
                                  tournament_size=3,
                                  n_gen_no_change=10,
                                  caching=True,
                                  n_jobs=-1)
selector = selector.fit(x_train, y_train)

Selecting features with genetic algorithm.
gen	nevals	avg                            	std                            	min                            	max
0  	50    	[-0.119215  5.16      0.321824]	[ 0.268304  2.975634  0.090511]	[-0.834066  1.        0.024176]	[  0.25025   10.         0.520561]
1  	25    	[ 0.110156  6.32      0.322557]	[ 0.118582  2.928754  0.066983]	[-0.265085  1.        0.182458]	[  0.282168  10.         0.520561]
2  	28    	[-199.830357    7.06      200.324737]	[ 1400.024237     2.671404  1399.95361 ]	[-10000.            1.            0.238799]	[     0.333067     11.        10000.      ]
3  	35    	[-199.80932     6.84      200.326267]	[ 1400.027243     2.157406  1399.953392]	[-10000.            4.            0.249425]	[     0.333067     11.        10000.      ]
4  	32    	[ 0.244775  6.64      0.340976]      	[ 0.068566  1.862901  0.052157]         	[ 0.01968   4.        0.224937]            	[  0.3504    10.         0.427189]
5  	30    	[ 0.270682  7.62      0.371474]      	[ 0.071442  1.598624  0.043388]         	[ 0.065634  4.        0.26047 ]            	[  0.382867  10.         0.495052]
6  	28    	[ 0.311837  7.88      0.368839]      	[ 0.057606  1.012719  0.037607]         	[ 0.065634  4.        0.26047 ]            	[  0.382867  10.         0.438821]
7  	30    	[ 0.318539  7.92      0.3685  ]      	[ 0.04227   0.79599   0.034003]         	[ 0.216134  6.        0.3111  ]            	[ 0.382867  9.        0.455675]
8  	27    	[ 0.316982  8.        0.360012]      	[ 0.063494  0.916515  0.032335]         	[ 0.0505    5.        0.263697]            	[ 0.382867  9.        0.426746]
9  	28    	[ 0.320531  8.26      0.366929]      	[ 0.053815  0.795236  0.030951]         	[ 0.183117  7.        0.261959]            	[  0.382867  10.         0.456183]
10 	31    	[ 0.333826  8.66      0.369933]      	[ 0.052815  0.681469  0.033939]         	[ 0.132767  7.        0.286764]            	[  0.383417  10.         0.460947]
11 	34    	[ 0.33453   8.82      0.373069]      	[ 0.040722  0.622575  0.028976]         	[ 0.232917  7.        0.29267 ]            	[  0.383417  10.         0.443662]
12 	29    	[ 0.333501  8.84      0.374075]      	[ 0.043107  0.611882  0.031936]         	[ 0.232917  7.        0.29267 ]            	[  0.39965   10.         0.446787]
13 	38    	[ 0.322155  8.84      0.378428]      	[ 0.057611  0.504381  0.025338]         	[ 0.14955   7.        0.295483]            	[  0.4002    10.         0.414067]
14 	33    	[ 0.31882  8.62     0.37259]         	[ 0.063264  0.718053  0.040674]         	[ 0.065634  7.        0.245528]            	[  0.4002    10.         0.461231]
15 	25    	[ 0.338927  8.66      0.375926]      	[ 0.04341   0.681469  0.035271]         	[ 0.233467  7.        0.298891]            	[ 0.4002    9.        0.466468]
16 	24    	[ 0.339642  8.84      0.373553]      	[ 0.075996  0.504381  0.022488]         	[-0.001499  7.        0.327863]            	[ 0.4002   9.       0.41253]
17 	32    	[ 0.34301   9.04      0.377305]      	[ 0.044139  0.344093  0.025768]         	[ 0.183117  8.        0.325058]            	[  0.400749  10.         0.446802]
18 	32    	[ 0.336198  9.        0.383125]      	[ 0.062693  0.282843  0.0341  ]         	[ 0.033167  8.        0.298944]            	[  0.400749  10.         0.473898]
19 	33    	[ 0.337194  8.94      0.379474]      	[ 0.052978  0.50636   0.033038]         	[ 0.183117  7.        0.214682]            	[  0.400749  10.         0.449779]
20 	28    	[-199.662408    8.96      200.369536]	[ 1400.048228     0.72      1399.947209]	[-10000.            7.            0.320963]	[     0.400749     11.        10000.      ]
21 	30    	[ 0.344947  9.04      0.38011 ]      	[ 0.056129  0.631189  0.025394]         	[ 0.149001  7.        0.308447]            	[  0.400749  10.         0.430239]
22 	37    	[ 0.345327  9.14      0.376258]      	[ 0.042098  0.529528  0.03429 ]         	[ 0.216134  8.        0.308731]            	[  0.400749  10.         0.443034]
23 	31    	[ 0.339037  9.1       0.385178]      	[ 0.060319  0.640312  0.029007]         	[ 0.082418  7.        0.33337 ]            	[  0.400749  10.         0.441246]
24 	33    	[ 0.330937  9.12      0.389919]      	[ 0.047586  0.430813  0.031854]         	[ 0.265934  8.        0.318819]            	[  0.400749  10.         0.449966]
25 	21    	[ 0.33803   9.06      0.386901]      	[ 0.079881  0.732393  0.031541]         	[-0.100549  5.        0.300396]            	[  0.400749  10.         0.449966]
26 	29    	[ 0.335097  9.04      0.370451]      	[ 0.080712  0.445421  0.040826]         	[-0.017732  7.        0.19205 ]            	[  0.400749  10.         0.440651]

In [10]:
print(selector.support_)

[ True  True  True  True False False  True False  True False  True  True
  True]

In [12]:
selected_rf_features = pd.DataFrame({'Feature':list(x_train.columns),
                                      'Ranking':selector.support_})
selected_rf_features.sort_values(by='Ranking')

     Feature  Ranking
4       chol    False
5        fbs    False
7    thalach    False
9    oldpeak    False
0        age     True
1        sex     True
2         cp     True
3   trestbps     True
6    restecg     True
8      exang     True
10     slope     True
11        ca     True
12      thal     True

In [13]:
new = df[['age','sex','cp','trestbps','restecg','exang','slope','ca','thal','target']]

In [17]:
x=new.drop('target',axis=1)    
y=new['target']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.20, random_state = 135)

In [18]:
rf_Model = RandomForestClassifier() 
model = rf_Model.fit(x_train,y_train)
print (model.score(x_test,y_test)*100)

88.52459016393442

In [ ]:
# xgboost


x_train,x_test,y_train,y_test = train_test_split(X, Y, test_size=0.20, random_state = 135)
xgb_Model = XGBClassifier()
model = xgb_Model.fit(X_train,y_train)
model.score(X_test,y_test)*100

In [5]:
from xgboost import XGBClassifier
clf =  XGBClassifier(n_estimators = 100, n_jobs=-1)
selector = GeneticSelectionCV(clf,cv=10,
                                  verbose=2,
                                  scoring="r2", 
                                  max_features=10,
                                  n_population=50,
                                  crossover_proba=0.5,
                                  mutation_proba=0.2,
                                  n_generations=40,
                                  crossover_independent_proba=0.5,
                                  mutation_independent_proba=0.05,
                                  tournament_size=3,
                                  n_gen_no_change=10,
                                  caching=True,
                                  n_jobs=-1)
selector = selector.fit(x_train, y_train)

Selecting features with genetic algorithm.
gen	nevals	avg                            	std                            	min                            	max
0  	50    	[-0.137638  5.3       0.320446]	[ 0.253377  2.927456  0.062268]	[-0.967782  1.        0.145249]	[  0.300599  10.         0.467598]
1  	32    	[ 0.04853   7.24      0.327122]	[ 0.136162  2.32      0.058203]	[-0.301948  2.        0.156916]	[  0.300599  10.         0.480522]
2  	27    	[ 0.151541  7.3       0.307996]	[ 0.090154  1.846619  0.049733]	[-0.050749  4.        0.21151 ]	[  0.333067  10.         0.423669]
3  	35    	[-199.841413    6.92      200.312587]	[ 1400.022659     1.92707   1399.955345]	[-10000.           4.           0.20898]	[     0.333067     12.        10000.      ]
4  	25    	[ 0.219027  6.94      0.33328 ]      	[ 0.078941  2.043624  0.047876]         	[-0.032867  4.        0.255465]         	[  0.333067  10.         0.507892]
5  	28    	[-199.78824     6.68      200.319009]	[ 1400.030254     2.014349  1399.954428]	[-10000.           3.           0.18032]	[     0.333067     11.        10000.      ]
6  	27    	[ 0.250607  6.6       0.326825]      	[ 0.075507  2.078461  0.033524]         	[ 0.083516  3.        0.220596]         	[  0.333067  10.         0.453006]
7  	25    	[ 0.268849  6.34      0.333546]      	[ 0.091121  1.795661  0.025584]         	[-0.048551  5.        0.273093]         	[  0.333067  10.         0.453006]
8  	29    	[ 0.296561  5.62      0.328181]      	[ 0.066378  1.468196  0.028313]         	[ 0.116533  4.        0.215539]         	[  0.333067  10.         0.386995]
9  	35    	[ 0.305872  5.08      0.330548]      	[ 0.065833  0.716659  0.016682]         	[ 0.067832  3.        0.255465]         	[ 0.333067  8.        0.355476]
10 	29    	[ 0.292413  5.06      0.324984]      	[ 0.097893  0.50636   0.029403]         	[-0.049101  4.        0.228234]         	[ 0.333067  7.        0.362305]
11 	29    	[ 0.321753  4.98      0.335094]      	[ 0.045603  0.244131  0.0048  ]         	[ 0.098651  4.        0.318995]         	[ 0.333067  6.        0.360341]
12 	22    	[ 0.326387  5.        0.331184]      	[ 0.032893  0.2       0.019896]         	[ 0.14955   4.        0.228234]         	[ 0.333067  6.        0.335239]

In [6]:
selected_rf_features = pd.DataFrame({'Feature':list(x_train.columns),
                                      'Ranking':selector.support_})
selected_rf_features.sort_values(by='Ranking')

     Feature  Ranking
0        age    False
3   trestbps    False
4       chol    False
5        fbs    False
6    restecg    False
7    thalach    False
8      exang    False
9    oldpeak    False
1        sex     True
2         cp     True
10     slope     True
11        ca     True
12      thal     True

In [8]:
new = df[['sex','cp','slope','ca','thal','target']]
x=new.drop('target',axis=1)    
y=new['target']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.20, random_state = 135)

In [11]:
xgb_Model = XGBClassifier()
model = xgb_Model.fit(x_train,y_train)
model.score(x_test,y_test)*100

80.32786885245902

In [4]:
from sklearn.neighbors import KNeighborsClassifier


clf = KNeighborsClassifier(n_neighbors=9)
selector = GeneticSelectionCV(clf,cv=10,
                                  verbose=2,
                                  scoring="r2", 
                                  max_features=10,
                                  n_population=50,
                                  crossover_proba=0.5,
                                  mutation_proba=0.2,
                                  n_generations=40,
                                  crossover_independent_proba=0.5,
                                  mutation_independent_proba=0.05,
                                  tournament_size=3,
                                  n_gen_no_change=10,
                                  caching=True,
                                  n_jobs=-1)
selector = selector.fit(x_train, y_train)

Selecting features with genetic algorithm.
gen	nevals	avg                            	std                            	min                            	max
0  	50    	[-0.554785  5.84      0.392817]	[ 0.261071  2.914515  0.061995]	[-1.064086  1.        0.21443 ]	[  0.033167  10.         0.526416]
1  	27    	[-0.371592  6.14      0.413203]	[ 0.200817  2.600077  0.076505]	[-1.02997  1.       0.21443]   	[  0.033167  10.         0.588237]
2  	23    	[-0.181753  4.92      0.354116]	[ 0.205606  2.496718  0.0774  ]	[-0.633217  1.        0.21443 ]	[  0.265385  10.         0.562514]
3  	31    	[-0.072584  4.28      0.35173 ]	[ 0.196444  2.088444  0.073468]	[-0.797752  1.        0.205442]	[  0.265385  10.         0.526416]
4  	28    	[ 0.035038  4.38      0.344102]	[ 0.150523  1.927589  0.052632]	[-0.616983  1.        0.227902]	[ 0.265385  9.        0.474884]
5  	29    	[-199.907054    4.04      200.334854]	[ 1400.013284     1.4827    1399.952165]	[-10000.           0.           0.23291]	[     0.265385      7.        10000.      ]
6  	22    	[ 0.143712  4.74      0.344229]      	[ 0.176172  1.718255  0.048663]         	[-0.932567  2.        0.227902]         	[ 0.266484  8.        0.478093]
7  	24    	[ 0.208293  5.76      0.354174]      	[ 0.06757   1.517366  0.043516]         	[-0.066983  3.        0.199272]         	[ 0.266484  8.        0.418202]
8  	34    	[ 0.220212  6.54      0.363696]      	[ 0.082613  1.062262  0.040262]         	[-0.183367  4.        0.239107]         	[ 0.266484  8.        0.413701]
9  	31    	[ 0.225615  7.3       0.375616]      	[ 0.095241  0.754983  0.027701]         	[-0.233167  5.        0.330059]         	[ 0.266484  9.        0.449706]
10 	33    	[ 0.245551  7.72      0.356392]      	[ 0.07934   0.491528  0.02327 ]         	[-0.267283  7.        0.293406]         	[ 0.266484  9.        0.421717]
11 	28    	[ 0.254411  7.94      0.349978]      	[ 0.042686  0.369324  0.019686]         	[ 0.04995   7.        0.301854]         	[ 0.266484  9.        0.449706]
12 	26    	[ 0.237402  7.96      0.35163 ]      	[ 0.105583  0.631189  0.026248]         	[-0.368531  5.        0.302236]         	[  0.298402  10.         0.493085]
13 	33    	[ 0.205992  7.88      0.349034]      	[ 0.181213  0.620967  0.017724]         	[-0.766933  6.        0.283829]         	[ 0.298402  9.        0.391965]
14 	32    	[ 0.266121  7.56      0.351916]      	[ 0.034842  0.637495  0.014777]         	[ 0.133866  6.        0.314645]         	[ 0.298402  8.        0.413701]
15 	33    	[ 0.278349  7.38      0.359731]      	[ 0.037373  0.524976  0.013863]         	[ 0.04995  6.       0.33901]            	[ 0.298402  8.        0.410408]
16 	25    	[ 0.289525  7.08      0.363965]      	[ 0.044599  0.391918  0.01316 ]         	[-0.016633  6.        0.283829]         	[ 0.298402  9.        0.367541]
17 	34    	[ 0.283549  7.        0.366263]      	[ 0.055921  0.282843  0.011226]         	[-0.067532  6.        0.314645]         	[ 0.298402  8.        0.407098]
18 	25    	[ 0.266799  7.        0.366893]      	[ 0.125833  0.34641   0.002594]         	[-0.267832  5.        0.355651]         	[ 0.298402  8.        0.367541]
19 	21    	[ 0.271185  7.06      0.371818]      	[ 0.150767  0.42      0.023205]         	[-0.764186  6.        0.367541]         	[ 0.298402  9.        0.52886 ]
20 	32    	[ 0.256107  7.04      0.37018 ]      	[ 0.157114  0.445421  0.027739]         	[-0.764186  6.        0.314645]         	[ 0.298402  9.        0.52886 ]
21 	29    	[ 0.292492  6.92      0.36556 ]      	[ 0.030691  0.391918  0.010307]         	[ 0.09975   5.        0.300649]         	[ 0.298402  7.        0.367541]
22 	26    	[ 0.27858   6.92      0.364165]      	[ 0.058781  0.271293  0.015946]         	[-0.017183  6.        0.300745]         	[ 0.298402  7.        0.407422]

In [5]:
selected_rf_features = pd.DataFrame({'Feature':list(x_train.columns),
                                      'Ranking':selector.support_})
selected_rf_features.sort_values(by='Ranking')

     Feature  Ranking
0        age    False
3   trestbps    False
4       chol    False
6    restecg    False
7    thalach    False
8      exang    False
1        sex     True
2         cp     True
5        fbs     True
9    oldpeak     True
10     slope     True
11        ca     True
12      thal     True

In [6]:
new = df[['sex','cp','fbs','oldpeak','slope','ca','thal','target']]
x=new.drop('target',axis=1)    
y=new['target']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.20, random_state = 135)

In [7]:
rf_Model = KNeighborsClassifier(n_neighbors=9) 
model = rf_Model.fit(x_train,y_train)
print (model.score(x_test,y_test)*100)

91.80327868852459